services:
  - type: web
    name: billboard-bms-frontend
    env: static
    buildCommand: npm ci && npm run build
    staticPublishPath: ./dist
    envVars:
      - key: NODE_VERSION
        value: 20.11.1
      - key: NPM_CONFIG_PRODUCTION
        value: false
